@use './mixins.scss' as *;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &.dark {
    color-scheme: dark;
  }
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: var(--site-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--site-c-text-1);
  background-color: var(--site-c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include with-transition(background-color);
}

main {
  display: block;
}

@include hd {
  line-height: 1.25;
  font-weight: 600;

  &:first-child {
    margin-top: 0;
  }

  &:focus,
  &:hover {
    a.header-anchor {
      opacity: 1;
    }
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--site-c-brand);
  @include with-transition(color);

  &:hover {
    color: var(--site-c-brand-dark);
  }

  &.header-anchor {
    position: absolute;
    margin-top: 0.125em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    font-size: 0.85em;
    opacity: 0;
  }
}

b,
strong {
  font-weight: 600;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

p {
  margin: 0;
}

ul,
ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

li + li {
  margin-top: 8px;
}

li > ol,
li > ul {
  margin: 8px 0 0;
}

blockquote {
  margin: 0;
}

pre,
code,
kbd,
samp {
  font-family: var(--site-font-family-code);
}

figure {
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

fieldset {
  margin: 0;
  padding: 0;
}

.custom-block {
  margin: 16px 0;

  p {
    margin: 8px 0;
    line-height: 24px;
  }

  p:first-child {
    margin: 0;
  }

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    transition: opacity 0.25s;
  }

  a:hover {
    opacity: 0.6;
  }

  code {
    font-size: var(--site-custom-block-code-font-size);
    font-weight: 700;
    color: inherit;
  }

  div[class*='language-'] {
    margin: 8px 0;
  }

  div[class*='language-'] code {
    font-weight: 400;
    background-color: var(--site-code-block-bg);
  }
}
