/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --site-c-bg: var(--j-bg-color);
  --site-c-bg-soft: var(--j-bg-color-overlay);
  --site-c-bg-mute: var(--j-bg-color-page);
  --site-c-bg-code: #{rgba(#27353f, 0.12)};

  --site-c-divider: #c6ced2;
  --site-c-divider-light: #e2e6e9;

  --site-c-text-1: var(--j-text-color-primary);
  --site-c-text-2: var(--j-text-color-regular);

  --site-c-text-code: var(--site-c-text-1);

  --site-c-brand: var(--j-color-primary);

  --site-c-sponsor: #fd1d7c;
}

.dark {
  --site-c-bg-code: #{rgba(#f0f5ff, 0.102)};

  --site-c-divider: rgba(84, 84, 84, 0.48);
  --site-c-divider-light: rgba(84, 84, 84, 0.65);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --site-font-family-base: 'Inter var experimental', 'Inter var', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --site-font-family-code: 'Source Code Pro', Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

/**
 * Shadows
 * -------------------------------------------------------------------------- */

:root {
  --site-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --site-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --site-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --site-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12),
    0 3px 9px rgba(0, 0, 0, 0.12);
  --site-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16),
    0 4px 12px rgba(0, 0, 0, 0.16);
}

/**
 * Z-indexes
 * -------------------------------------------------------------------------- */

:root {
  --site-z-index-doc: 10;
  --site-z-index-menu-bar: 10;
  --site-z-index-header: 20;
  --site-z-index-backdrop: 30;
  --site-z-index-sidebar: 40;
  --site-z-index-footer: 50;
}

/**
 * Icons
 * -------------------------------------------------------------------------- */

:root {
  --site-icon-copy: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(128,128,128,1)" d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z"%2F%3E%3C%2Fsvg%3E');
  --site-icon-copied: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(128,128,128,1)" d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zm2 0h8v10h2V4H9v2z"%2F%3E%3C%2Fsvg%3E');
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  --site-layout-max-width: 1360px;
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --site-code-line-height: 1.7;
  --site-code-font-size: 0.875em;

  --site-code-block-color: var(--site-c-text-dark-1);
  --site-code-block-bg: #292d3e;

  --site-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --site-code-line-number-color: var(--site-c-text-dark-3);

  --site-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --site-code-copy-code-active-text: var(--site-c-text-dark-2);
}

.dark {
  --site-code-block-bg: var(--site-c-bg-mute);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

// :root {
//   --site-button-brand-border: var(--site-c-brand-light);
//   --site-button-brand-text: var(--site-c-text-dark-1);
//   --site-button-brand-bg: var(--site-c-brand);
//   --site-button-brand-hover-border: var(--site-c-brand-light);
//   --site-button-brand-hover-text: var(--site-c-text-dark-1);
//   --site-button-brand-hover-bg: var(--site-c-brand-light);
//   --site-button-brand-active-border: var(--site-c-brand-light);
//   --site-button-brand-active-text: var(--site-c-text-dark-1);
//   --site-button-brand-active-bg: var(--site-button-brand-bg);

//   --site-button-alt-border: var(--site-c-gray-light-3);
//   --site-button-alt-text: var(--site-c-text-light-1);
//   --site-button-alt-bg: var(--site-c-gray-light-5);
//   --site-button-alt-hover-border: var(--site-c-gray-light-3);
//   --site-button-alt-hover-text: var(--site-c-text-light-1);
//   --site-button-alt-hover-bg: var(--site-c-gray-light-4);
//   --site-button-alt-active-border: var(--site-c-gray-light-3);
//   --site-button-alt-active-text: var(--site-c-text-light-1);
//   --site-button-alt-active-bg: var(--site-c-gray-light-3);

//   --site-button-sponsor-border: var(--site-c-gray-light-3);
//   --site-button-sponsor-text: var(--site-c-text-light-2);
//   --site-button-sponsor-bg: transparent;
//   --site-button-sponsor-hover-border: var(--site-c-sponsor);
//   --site-button-sponsor-hover-text: var(--site-c-sponsor);
//   --site-button-sponsor-hover-bg: transparent;
//   --site-button-sponsor-active-border: var(--site-c-sponsor);
//   --site-button-sponsor-active-text: var(--site-c-sponsor);
//   --site-button-sponsor-active-bg: transparent;
// }

// .dark {
//   --site-button-brand-border: var(--site-c-brand-light);
//   --site-button-brand-text: var(--site-c-text-dark-1);
//   --site-button-brand-bg: var(--site-c-brand-dark);
//   --site-button-brand-hover-border: var(--site-c-brand-lighter);
//   --site-button-brand-hover-text: var(--site-c-text-dark-1);
//   --site-button-brand-hover-bg: var(--site-c-brand);
//   --site-button-brand-active-border: var(--site-c-brand-lighter);
//   --site-button-brand-active-text: var(--site-c-text-dark-1);
//   --site-button-brand-active-bg: var(--site-button-brand-bg);

//   --site-button-alt-border: var(--site-c-gray-dark-2);
//   --site-button-alt-text: var(--site-c-text-dark-1);
//   --site-button-alt-bg: var(--site-c-bg-mute);
//   --site-button-alt-hover-border: var(--site-c-gray-dark-2);
//   --site-button-alt-hover-text: var(--site-c-text-dark-1);
//   --site-button-alt-hover-bg: var(--site-c-gray-dark-2);
//   --site-button-alt-active-border: var(--site-c-gray-dark-2);
//   --site-button-alt-active-text: var(--site-c-text-dark-1);
//   --site-button-alt-active-bg: var(--site-button-alt-bg);

//   --site-button-sponsor-border: var(--site-c-gray-dark-1);
//   --site-button-sponsor-text: var(--site-c-text-dark-2);
// }

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --site-custom-block-code-font-size: 13px;

  --site-custom-block-info-border: var(--site-c-divider-light);
  --site-custom-block-info-text: var(--site-c-text-2);
  --site-custom-block-info-bg: var(--site-c-white-soft);
  --site-custom-block-info-code-bg: var(--site-c-gray-light-4);

  --site-custom-block-tip-border: var(--site-c-green-dimm-1);
  --site-custom-block-tip-text: var(--site-c-green-darker);
  --site-custom-block-tip-bg: var(--site-c-green-dimm-3);
  --site-custom-block-tip-code-bg: var(--site-custom-block-tip-bg);

  --site-custom-block-warning-border: var(--site-c-yellow-dimm-1);
  --site-custom-block-warning-text: var(--site-c-yellow-darker);
  --site-custom-block-warning-bg: var(--site-c-yellow-dimm-3);
  --site-custom-block-warning-code-bg: var(--site-custom-block-warning-bg);

  --site-custom-block-danger-border: var(--site-c-red-dimm-1);
  --site-custom-block-danger-text: var(--site-c-red-darker);
  --site-custom-block-danger-bg: var(--site-c-red-dimm-3);
  --site-custom-block-danger-code-bg: var(--site-custom-block-danger-bg);

  --site-custom-block-details-border: var(--site-custom-block-info-border);
  --site-custom-block-details-text: var(--site-custom-block-info-text);
  --site-custom-block-details-bg: var(--site-custom-block-info-bg);
  --site-custom-block-details-code-bg: var(--site-custom-block-details-bg);
}

.dark {
  --site-custom-block-info-border: var(--site-c-divider-light);
  --site-custom-block-info-bg: var(--site-c-black-mute);
  --site-custom-block-info-code-bg: var(--site-c-gray-dark-4);

  --site-custom-block-tip-border: var(--site-c-green-dimm-2);
  --site-custom-block-tip-text: var(--site-c-green-light);

  --site-custom-block-warning-border: var(--site-c-yellow-dimm-2);
  --site-custom-block-warning-text: var(--site-c-yellow-light);

  --site-custom-block-danger-border: var(--site-c-red-dimm-2);
  --site-custom-block-danger-text: var(--site-c-red-light);
}

/**
 * Component: Header
 * -------------------------------------------------------------------------- */

:root {
  --site-header-height: 56px;
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --site-sidebar-width: 232px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --site-home-hero-name-color: var(--site-c-brand);
  --site-home-hero-name-background: transparent;

  --site-home-hero-image-background-image: none;
  --site-home-hero-image-filter: none;
}
