@use '../settings/config';

@mixin b($block) {
  $B: config.$namespace + config.$common-separator + $block !global;
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;

  @at-root {
    .#{$B + config.$element-separator + $E} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  $block: &;
  $currentSelector: '';

  @each $modifier in $modifiers {
    @if ($modifier == '') {
      $currentSelector: #{$currentSelector + $block};
    } @else {
      $currentSelector: #{$currentSelector +
        $block +
        config.$modifier-separator +
        $modifier +
        ','};
    }
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin is($state) {
  @at-root {
    &.#{config.$is-prefix + $state} {
      @content;
    }
  }
}
