@use 'sass:map';
@use 'sass:string';
@use '../settings';
@use './css-var' as *;

@mixin states(
  $name,
  $base-opacity-value: 0,
  $focusable: true,
  $activeSelector: null
) {
  &:hover {
    @include set-css-var(
      $name,
      $base-opacity-value + map.get(settings.$states, 'hover')
    );
  }

  @if ($focusable) {
    &:focus {
      @include set-css-var(
        $name,
        $base-opacity-value + map.get(settings.$states, 'focus')
      );
    }
  }

  @if ($activeSelector) {
    #{$activeSelector} {
      @include states-active($name, $base-opacity-value, $focusable);
    }
  }
}

@mixin states-active($name, $base-opacity-value, $focusable: true) {
  @include set-css-var(
    $name,
    $base-opacity-value + map.get(settings.$states, 'activated')
  );

  &:hover {
    @include set-css-var(
      $name,
      $base-opacity-value + map.get(settings.$states, 'activated') +
        map.get(settings.$states, 'hover')
    );
  }

  @if ($focusable) {
    &:focus {
      @include set-css-var(
        $name,
        $base-opacity-value + map.get(settings.$states, 'activated') +
          map.get(settings.$states, 'focus')
      );
    }
  }
}
