@use 'sass:map';
@use 'sass:meta';

$blue: () !default;
$blue: map-merge(
  (
    0: #d1ebfd,
    1: #73dffe,
    2: #5bcefd,
    3: #45bdfc,
    4: #2dacfb,
    5: #169bfa,
    6: #128ae3,
    7: #0f79cc,
    8: #0b68b5,
    9: #09589d,
    10: #07467e,
  ),
  $blue
);

$yellow: () !default;
$yellow: map-merge(
  (
    10: #a9762a,
    9: #d39434,
    8: #dea13e,
    7: #e9ae47,
    6: #f4bb51,
    5: #f9c034,
    4: #ffd684,
    3: #ffdb94,
    2: #ffe4ad,
    1: #ffeece,
    0: #fff7e9,
  ),
  $yellow
);

$red: () !default;
$red: map-merge(
  (
    10: #9a2208,
    9: #c12b0a,
    8: #da4834,
    7: #e6574a,
    6: #f3665f,
    5: #ff7575,
    4: #ff8181,
    3: #ff8e8e,
    2: #ff9b9b,
    1: #ffa2a2,
    0: #ffb9b9,
  ),
  $red
);

$green: () !default;
$green: map-merge(
  (
    10: #126b4a,
    9: #17865c,
    8: #1e986b,
    7: #24aa7b,
    6: #2bbc8a,
    5: #31cf9a,
    4: #4bd7a3,
    3: #65e0ac,
    2: #7fe8b5,
    1: #99f1be,
    0: #a4f4c5,
  ),
  $green
);

$gray: () !default;
$gray: map-merge(
  (
    10: #464646,
    9: #585858,
    8: #696969,
    7: #7a7a7a,
    6: #8b8b8b,
    5: #9d9d9d,
    4: #b1b1b1,
    3: #c4c4c4,
    2: #d8d8d8,
    1: #ebebeb,
    0: #f2f2f2,
  ),
  $gray
);

$colors: () !default;
$colors: map-merge(
  (
    'black': #000,
    'white': #fff,
  ),
  $colors
);

$theme-colors: (
  'primary': $blue,
  'success': $green,
  'warning': $yellow,
  'danger': $red,
  'info': $gray,
);

@each $type, $color in $theme-colors {
  $color-map: (
    base: #{map-get($color, 5)},
  );

  @for $i from 0 through 4 {
    $color-map: map-merge(
      $color-map,
      (#{'light-'+ (5 - $i)}: #{map-get($color, $i)})
    );
  }
  @for $i from 6 through 10 {
    $color-map: map-merge(
      $color-map,
      (#{'dark-' + ($i - 5)}: #{map-get($color, $i)})
    );
  }

  $colors: map-merge((#{$type}: $color-map), $colors);
}
