@use 'sass:map';

$font-weights: () !default;
$font-weights: map.merge(
  (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'black': 900,
  ),
  $font-weights
);

$font-colors: () !default;
$font-colors: map.merge(
  (
    primary: #1b252c,
    regular: #27353f,
    placeholder: rgba(#27353f, 0.45),
    disabled: rgba(#27353f, 0.25),
  ),
  $font-colors
);
