@use 'sass:map';
@use './space';

$sizes: ('mini', 'small', 'default', 'large') !default;

$size-scale: space.$spacer !default;

$size-scales: () !default;
$size-scales: map.merge(
  (
    'default': 0,
    'mini': -2,
    'small': -1,
    'large': 1,
  ),
  $size-scales
);

$size-scales-radix: () !default;
$size-scales-radix: map.merge(
  (
    'height': 4,
    'font-size': 2,
    'padding': 1,
    'margin': 4,
  ),
  $size-scales-radix
);
