@use 'sass:math';
@use 'sass:map';
@use './settings' as *;
@use './tools' as *;
@use './components/buttons' as *;

@include b(button-group) {
  display: inline-block;
  vertical-align: middle;

  > .#{b('button' )} {
    + .#{b('button')} {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child:last-child {
      border-radius: map.get($border-radiuses, 'base');

      &.#{bm('button', 'round')} {
        border-radius: map.get($border-radiuses, 'round');
      }
      &.#{bm('button', 'circle')} {
        border-radius: map.get($border-radiuses, 'circle');
      }
    }

    &:not(:first-child) {
      margin-left: -$button-border-width;

      &.#{bm('button', 'primary')} {
        border-left-color: rgba(
          map.get($shades, 'white'),
          calc(get-css-var('opacity', 'activated') * 2)
        );
      }
    }
  }
}
