@use './tools' as *;
@use './settings' as *;

@include b(icon) {
  --color: inherit;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  width: 1em;
  height: 1em;
  line-height: 1em;
  color: var(--color);
  font-size: inherit;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }

  @include m(right) {
    margin-left: map-get($spacers, 'mini');
  }

  @include m(left) {
    margin-right: map-get($spacers, 'mini');
  }

  @include is('loading') {
    animation: rotating 2s linear infinite;
  }

  &[role='button'] {
    position: relative;
    cursor: pointer;

    &::after {
      @include absolute(-3px, true);
      border-radius: 50%;
      background-color: currentColor;
      opacity: 0;
      @include transition(opacity, 0.1s);
    }
    &:hover::after {
      opacity: get-css-var('opacity', 'hover');
    }
  }
}

@include b(icon-feedback) {
  @include m('success') {
    --color: #{get-css-var('color', 'success')};
  }

  @include m('warning') {
    --color: #{get-css-var('color', 'warning')};
  }

  @include m('error') {
    --color: #{get-css-var('color', 'danger')};
  }

  @include m('validating', 'loading') {
    --color: #{get-css-var('color', 'primary')};
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
