@use './settings' as *;
@use './tools' as *;

@include b(row) {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;

  @include is(justify-center) {
    justify-content: center;
  }
  @include is(justify-end) {
    justify-content: flex-end;
  }
  @include is(justify-space-around) {
    justify-content: space-around;
  }
  @include is(justify-space-between) {
    justify-content: space-between;
  }
  @include is(justify-space-evenly) {
    justify-content: space-evenly;
  }
  @include is(align-start) {
    align-items: flex-start;
  }
  @include is(align-center) {
    align-items: center;
  }
  @include is(align-end) {
    align-items: flex-end;
  }
}
