@use 'sass:map';
@use 'sass:meta';
@use '../settings' as *;
@use '../tools' as *;

$form-height: $height-size-base !default;
$form-font-size: $font-size-base !default;
$form-label-padding: 12px !default;
$form-item-margin: 18px !default;
$form-item-inline-spacer: map.get($spacers, 'large') !default;
